.card {
  background-color: #3475;
}


body {
   background: #222D32 !important;  
}


h3 {
  font-family: Times New Roman;
  font-weight: bold;
  color: #fff;
}
hr {
  border-bottom: solid white 1px;
}

.btn {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input {
  background-color: #3475 !important;
  color: white !important;
}

::placeholder {
  color: white !important;
}
label {
    margin-bottom: 8px;
    color: #fff;
}
span.error {
    color: var(--errorText);
    font-size: 14px;
    color: #fff;
    margin-top: 10px;

}